
# Created by https://www.gitignore.io/api/venv
# Edit at https://www.gitignore.io/?templates=venv

### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
pyvenv.cfg
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pip-selfcheck.json
/venv

# End of https://www.gitignore.io/api/venv

/data/
/log/
/rec*
/rec_bias/
/rec_plot/
/rec_plot/
/src/recommender/models/AMF_old.py
plot_1_accuracy_vs_beyond_by_epochs.py
plot_2_gain_by_alpha.py
plot_3_pareto.py